.Pokecard {
    background-color: white;
    border: 2px solid #e9e9e9;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.Pokecard img{
  transition: 0.7s ease-in-out;

}
.Pokecard img:hover{
  transform: scale(1.25);
  opacity: 0.8;
}
