.Pokedex {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-items: center;
    margin: 20px;
}
.Pokedex-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 36px;
}
.Pokedex-winner{
  color: rgb(70, 230, 70);
}
.Pokedex-loser{
  color: rgb(230, 70, 70);
}